<div class="card">
  <div class="card-body" *ngIf="user() as u">
    <div class="d-flex justify-content-between align-items-start mb-4">
      <!-- Coluna Saldo -->
      <div class="d-flex flex-column text-center">
        <h5 class="m-0">Saldo da Conta</h5>
        <h4 class="mb-0">R$ {{ u.balance | number : "1.2-2" }}</h4>
      </div>

      <!-- Coluna Transações -->
      <div class="d-flex flex-column text-center">
        <h5 class="m-0">Transações Concluídas</h5>
        <h4 class="mb-0">{{ totalConcluidos() }}</h4>
      </div>
    </div>

    <div *ngIf="chartData().length" class="flex-grow: 1">
      <ngx-charts-pie-chart
        [results]="chartData()"
        [legend]="false"
        [labels]="true"
        [doughnut]="true"
        [scheme]="colorScheme"
        [explodeSlices]="true"
        [gradient]="false"
      >
      </ngx-charts-pie-chart>
    </div>
  </div>
</div>
